services:
  - type: web
    name: dory-lat-app
    runtime: python
    buildCommand: pip install flask gunicorn
    startCommand: gunicorn --bind 0.0.0.0:$PORT --timeout 30 --workers 1 --access-logfile - --error-logfile - test_app:app
    healthCheckPath: /health
